body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f2f2f2;
}

form {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="date"] {
    padding: 5px;
    font-size: 14px;
    background-color: rgb(185,185,185);
    color: #090000;
}

button[type="submit"] {
    width: 90px;
    height: 34px;
    padding: 5px 10px;
    background-color: rgb(185,185,185);
    color: #090000;
    text-decoration: none;
    text-align: center;
    border: 2px solid black;
    cursor: pointer;
}

#img-container {
    background-color: black;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: start;
    color: #fff;
}

#img-container img {
    max-width: 100%;
    height: auto;
}

#img-container h1 {
    font-size: 2.5rem;
    font-weight: 900;
}
#img-container h3{
    font-size: 1.8rem;
}
#img-container p {
    font-size: 1.2rem;
}
#search-history {
    list-style-type: none;
    padding: 0;
}

#search-history p{
    margin-bottom: 5px;
}


/* media queries section */


/* Mobile Devices */

@media only screen and (max-width: 767px) {
    body {
        font-size: 14px;
    }
    form {
        margin-bottom: 10px;
    }
    label {
        font-size: 12px;
    }
    input[type="date"] {
        font-size: 12px;
    }
    button[type="submit"] {
        font-size: 12px;
    }
    section {
        padding: 10px;
    }
}


/* Tablets */

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    body {
        font-size: 16px;
    }
    form {
        margin-bottom: 15px;
    }
    label {
        font-size: 14px;
    }
    input[type="date"] {
        font-size: 14px;
    }
    button[type="submit"] {
        font-size: 14px;
    }
    section {
        padding: 15px;
    }
}


/* Laptops and Desktops */

@media only screen and (min-width: 1024px) {
    body {
        font-size: 16px;
    }
    form {
        margin-bottom: 20px;
    }
    label {
        font-size: 16px;
    }
    input[type="date"] {
        font-size: 16px;
    }
    button[type="submit"] {
        font-size: 16px;
    }
    section {
        padding: 20px;
    }
}


/* TVs */

@media only screen and (min-width: 1920px) {
    body {
        font-size: 20px;
    }
    form {
        margin-bottom: 30px;
    }
    label {
        font-size: 18px;
    }
    input[type="date"] {
        font-size: 18px;
    }
    button[type="submit"] {
        font-size: 18px;
    }
    section {
        padding: 30px;
    }
}